table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  max-width: 100%;
}
table tr{
  width: 100%;
}
table td {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #cdcdcd;
  padding: 0;
  margin: 0;
  background-color: #333;
  position: relative;
}
    
td input {
  width: 100%;
  height: 100%;
  padding: 0em;
  border: none;
  text-align: center;
  font-size: 90%;
  color: #666;
  background-color: #f4f4f4;
}

td input:focus {
  background-color: #fff;
}

td span {
  color: #444;
  font-size: 0.8em;
  position: absolute;
  top: -1px;
  left: 1px;
}

input.done {
  font-weight: bold;
  color: green;
}

.active {
  background-color: #ddd;
}

.clues-active input {
  background-color: #ddd;
}

.clue-done {
  color: #999;
  text-decoration: line-through;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.clue {
  outline: 0;
  border: 0;
  width:90%;
  padding-left: 5px;
}

.clue:focus {
  outline: 0;
  border: 0;
  background-color: #ddd;
}