<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
    <img src = "pzlpal.jpg">
    <h1 style="font-size: 2em">Crossword Puzzle Digitizer and Solver</h1>
</div>

<!-- FORM TO CREATE TODOS -->
<div id="puzzle-form" class="row" ng-controller="createController">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h4>Fill in some information about your puzzle to get started. The Picture URL should be a picture of the entire puzzle, including the grid and the clues. Files loaded from your machine will be automatically uploaded to <a href = "imgur.com">Imgur</a>.</h4>
      <form class="form-horizontal">
       <div class="form-group">
          <label for="pzlName" class="col-lg-3 control-label">Puzzle Name</label>
          <div class="col-lg-6">
            <input type="text" class="form-control" name="pzlName" id="pzlName" placeholder="Example Puzzle" ng-model="formData.pzlName">
          </div>
        </div>    
        <div class="form-group">
          <label for="imageURL" class="col-lg-3 control-label">Crossword Picture URL</label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button id="uploadBtn" class="btn btn-primary" type="button" onclick="$('#file-input').click()">Browse...</button>
              </span>
              <input type="text" class="form-control" name="imageURL" id="imageURL" placeholder="http://s28.postimg.org/rulmey7wc/file_page1.jpg" ng-model="formData.imageURL">
            </div>
            <input style="visibility: collapse; width: 0px;" type="file" onchange="angular.element(this).scope().upload(this.files[0])" id="file-input">
            <p id="upload-text" class="pull-left">
            </p>
          </div>
        </div>
        <div class="form-group">
            <button id = "submitBtn" type="submit" class="btn btn-primary btn-lg" ng-click="createPuzzle()">Digitize Puzzle</button>
        </div>
        <div class="form-group" id="errorsDiv">
          <p id="errors"></p>
        </div>
      </form>
    </div>
</div>