<div class="jumbotron text-center">
    <img src = "pzlpal.jpg">
    <h1 style="font-size: 2em">Crossword Puzzle Digitizer and Solver</h1>
</div>

<div id="puzzle-form" class="row" ng-controller="createController">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h4>Upload a crossword puzzle picture from your computer or a URL.</h4>
      <br>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-3 control-label">Upload Picture</label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                 <button class="btn btn-info" ngf-select ng-model="imageFile" accept='image/*' ngf-min-size='100' ngf-max-size='10000000' ngf-change="fileSelect()">Select File</button>
              </span>
              <input type="text" id="file-field" class="form-control" readonly>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="clearFile()">X</button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>&mdash; OR &mdash;</label>
        </div>     

        <div class="form-group">
          <label for="imageURL" class="col-lg-3 control-label">Picture URL</label>
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" name="imageURL" id="imageURL" ng-model="formData.imageURL">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="clearURL()">X</button>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
            <button id = "submitBtn" type="submit" class="btn btn-info btn-lg" ng-click="createPuzzle()">Digitize Puzzle</button>
        </div>
        <div class="form-group" id="errorsDiv">
          <p id="errors"></p>
        </div>
      </form>
    </div>
</div>